<div class="row">
    <div class="col-lg-6">

        <h5>Expense</h5>
        <form [formGroup]="expenseForm" (submit)="OnSubmit()">
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="price" formControlName="price">
              </div>
              @if (expenseForm.get('price')?.hasError('required')  &&  expenseForm.get('price')?.touched){
                <div class="form-text text-danger">price required</div>
            }
              <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" formControlName="title">
              </div>
              @if (expenseForm.get('title')?.hasError('required')  &&  expenseForm.get('title')?.touched){
                  <div class="form-text text-danger">title required</div>
              }
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea  class="form-control" id="description"  rows="3" formControlName="description" ></textarea>
              </div>

              <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
    </div>
</div>